<mat-toolbar class="nav justify-content-between">
    <button mat-icon-button class="menu-icon" (click)="opened = !opened">
        <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button button (click)="logout()"><mat-icon>logout</mat-icon></button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
        <div class="menu-list">
            <a routerLink="articles">Articles</a>
            <a routerLink="categories">Categories</a>
            <a routerLink="projects">Projects</a>
            <a routerLink="education">Education</a>
            <a routerLink="experiences">Work Experience</a>
            <a routerLink="certificates">Certificates</a>
            <a routerLink="skills">Skills</a>
            <a routerLink="social-media">Social Media</a>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="p-0">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>