<div class="container d-flex align-items-center justify-content-center vh-100">
  <mat-card class="login-card">
    <mat-card-content class="w-100">
      <form [formGroup]="_loginForm" (ngSubmit)="onSubmit()" >
        <mat-form-field class="w-100" appearance="outline">
          <input matInput placeholder="Email" type="email" formControlName="email">
        </mat-form-field>
        <br>
        <mat-form-field class="w-100" appearance="outline">
          <input class="w-100" matInput placeholder="Password" type="password" formControlName="password">
        </mat-form-field>
        <mat-checkbox class="float-end mb-3" formControlName="rememberMe">Remember me</mat-checkbox>
        <button mat-raised-button class="w-100" type="submit">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>