<div class="container" style="width: 100%;">
    <div class="mat-elevation-z8 mt-4 w-100">
        <div class="w-100 d-flex justify-content-end" style="cursor: pointer;" (click)="createCategory()">
                <mat-icon class="fs-3 mx-4" color="warn">add</mat-icon>
        </div>
        <table mat-table [dataSource]="_dataSource" class="w-100">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>
                    Category Name
                </th>
                <td mat-cell *matCellDef="let element" (click)="selectCategory(element)">
                    {{element.name}}
                </td>
            </ng-container>

            <ng-container matColumnDef="update">
                <th mat-header-cell *matHeaderCellDef></th>
                <td style="cursor: pointer;" mat-cell *matCellDef="let element" (click)="updateCategory(element)">
                    <mat-icon color="primary">edit</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td style="cursor: pointer;" mat-cell *matCellDef="let element" (click)="deleteCategory(element)">
                    <mat-icon color="primary">delete</mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="_displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: _displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>