<div class="container">
    <form [formGroup]="_articleForm" class="d-flex flex-column" (click)="onSubmit()">
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title">
        </mat-form-field>

        <mat-form-field appearance="outline" style="cursor: pointer;" (click)="showCategories()">
            <mat-label style="cursor: pointer;">Category</mat-label>
            <input type="hidden" style="cursor: pointer;"formControlName="categoryId">
            <input style="cursor: pointer;" matInput [value]="_selectedCategory?.name">
        </mat-form-field>

        <angular-editor placeholder="Enter article content..." [config]="_editorConfig"
            formControlName="content"></angular-editor>

        <div class="d-flex flex-row mt-2 justify-content-between">
            <button mat-raised-button>Clear</button>
            <button type="submit" mat-raised-button>Save</button>
        </div>
    </form>
</div>